.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.22rem;
  height: 100%;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
